In [1]:
x=1356
if x%2==0:
    print("even")
print("the end")

even
the end

In [2]:
x=1356
if x%2==0:
    print("even")
    print("the end")#indentation

even
the end

In [5]:
num=input('enter a number')
if num.isnumeric():
    print('well done')
    num=int(num)
else:
    print('bad input')

bad input

In [14]:
username='john cena'
email='john@gmail.com'
password='qwerty'
if username=='john cena':
    if email=='john@gmail.com':
        if password=='qwerty':
            print("welcome to wwe")
        else:
            print("wrong password")
    else:
         print("wrong email")
else:
    print("wrong name")

welcome to wwe

In [17]:
username=input('enter name')
email=input('enter email')
password=input('password')
if username=='john cena':
    if email=='john@gmail.com':
        if password=='qwerty':
            print("welcome to wwe")
        else:
            print("wrong password")
    else:
         print("wrong email")
else:
    print("wrong name")

wrong name

In [18]:
username=input('enter name')
email=input('enter email')
password=input('password')
if username !='john cena':
    print("wrong name")
elif password !="qwerty":
    print("wrong password")
elif email !='john@gmail.com':
    print("wrong email") 
else:
    print('welcome to wwe')

wrong name

In [ ]:
marks=(input('enter marks'))
if marks>=90:
    print('grade is A')
if marks>=80:
    print('grade is B')
if marks>=70:
    print('grade is C')
if marks>=60:
    print('grade is D')
if marks<60:
    print('grade is F')

In [25]:
marks=(input('enter marks'))
if not marks.isnumeric():
   print('invalid')
else:
     marks=int(marks)
if marks>=90:
    print('grade is A')
elif marks>=80:
    print('grade is B')
elif marks>=70:
    print('grade is C')
elif marks>=60:
    print('grade is D')
elif marks<60:
    print('grade is F')

grade is C

loops in Python

In [1]:
word = "volkwagen"
len(word)

9

## for var in iteration
syntax

for <variable> in <sequence>
statement1
statement2
:
:
statementn

In [2]:
x="PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [7]:
for i in range(6): #for loop using range function
    print('you got point',i)

you got point 0
you got point 1
you got point 2
you got point 3
you got point 4
you got point 5

In [8]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [9]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [10]:
for num in range(10,5,-1): # reverse loop
    print(num)

10
9
8
7
6

In [11]:
for i in range(10): # pattern loop
    print(i * 'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

string settings
- 'r'=raw string
- 'f'=formatted string
- 'b'=byte string

In [5]:
a=10
b='birds'
print('i have count',a,b,'on tree')

i have count 10 birds on tree

In [ ]:
print(f'i have count'{a}{b} on tree)

In [3]:
fruits=['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

extra functional setting for loop
- enumerate
- zip

In [12]:
fruits = ['apple','banana','cherry','orange','kiwi','mango']
for fruit in fruits:
    print(fruit)

apple
banana
cherry
orange
kiwi
mango

In [17]:
for fruit in enumerate(fruits):
    print(fruit)

(0, 'apple')
(1, 'banana')
(2, 'cherry')
(3, 'orange')
(4, 'kiwi')
(5, 'mango')

In [14]:
for fruit in enumerate(fruits):
    print(i,fruit)

9 (0, 'apple')
9 (1, 'banana')
9 (2, 'cherry')
9 (3, 'orange')
9 (4, 'kiwi')
9 (5, 'mango')

In [26]:
fruits = ['apple','banana','cherry','orange','kiwi','mango']
for i,F in enumerate(fruits):
    print(i,F)

0 apple
1 banana
2 cherry
3 orange
4 kiwi
5 mango

Zip

In [20]:
prices=[10,20,30,40,50,60]

In [23]:
for f,p in zip (fruits,prices): # zip takes 2 lists in arguments
    print(f,'=>',p)             #stores fruits lists in f,prices list value in p

apple => 10
banana => 20
cherry => 30
orange => 40
kiwi => 50
mango => 60

In [24]:
qty=['2kg','4kg','1kg','1/2kg','5kg','8kg']

In [25]:
for f,p,q in zip(fruits,prices,qty):
    print(f,'=>',q,'for',p)

apple => 2kg for 10
banana => 4kg for 20
cherry => 1kg for 30
orange => 1/2kg for 40
kiwi => 5kg for 50
mango => 8kg for 60