In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# load the data

In [33]:
df=pd.read_excel('Canada.xlsx',sheet_name='Canada by Citizenship',
skiprows=20,skipfooter=2)
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

# processing of data according to need

In [34]:
print(df.columns.tolist())

['Type', 'Coverage', 'OdName', 'AREA', 'AreaName', 'REG', 'RegName', 'DEV', 'DevName', 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013]

# columns renaming according to need

In [35]:
df.rename({
    'Oldname':'country',
    'AreaName':'continent',
    'RegName':'region',
    'DevName':'country_status'
}, axis=1, inplace=True)

# chect the count of values in a categorical column and drop if the count is 1

In [36]:
df['Type'].value_counts()# count the no of eacg unique value in column

Immigrants    195
Name: Type, dtype: int64

# drop the columns which are not required

In [37]:
cols_to_drop = ['Type','Coverage','AREA','REG','DEV']
df.drop(columns=cols_to_drop,inplace=True) # columns with no useful data are dropped

# setting the index to country names

In [38]:
df.set_index('country',inplace=True) # set country as index

KeyError: "None of ['country'] are in the columns"

# adding a total columns which is the sum of all the year for a particular country

In [ ]:
year= list(range (1980,2014))
df['total']=df[year].sum(axis=1)
df.head()

,OdName,continent,region,country_status,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,15

making the country status to binary

In [ ]:
def binarize(val):
    if val == 'Devloping regions':
        return 0
    else:
        return 1
df['country_status']=df['country_status'].apply(binarize)

In [ ]:
df.head()

,OdName,continent,region,country_status,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,total
0,Afghanistan,Asia,Southern Asia,1,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,1,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15699
2,Algeria,Africa,Northern Africa,1,80,67,71,69,63,44,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
3,American Samoa,Oceania,Polynesia,1,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
4,Andorra,Europe,Southern Europe,1,0,0,0,0,0,0,...,0,1,1,0,0,0,0,1,1,15

In [ ]:
df.sort_values(by='total',ascending=False,inplace=True)
df.head()

,OdName,continent,region,country_status,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,total
79,India,Asia,Southern Asia,1,8880,8670,8147,7338,5704,4211,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
36,China,Asia,Eastern Asia,1,5123,6682,3308,1863,1527,1816,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962
183,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe,1,22045,24796,20620,10015,10170,9564,...,7258,7140,8216,8979,8876,8724,6204,6195,5827,551500
136,Philippines,Asia,South-Eastern Asia,1,6051,5921,5249,4562,3801,3150,...,18139,18400,19837,24887,28573,38617,36765,34315,29544,511391
130,Pakistan,Asia,Southern Asia,1,978,972,1201,900,668,514,...,14314,13127,10124,8994,7217,6811,7468,11227,12603,241600

# rename few country names

# change plotting theme

In [ ]:
print(plt.style.avaliable)
plt.style.use('seaborn')

In [ ]:
df.loc['japan',years].plot(kind='line',figsize=(20,6))

# add pandas styling

In [ ]:
continent_df = df.groupby('continent')[years].sum()

In [ ]:
continent_df.style.background_gradient(camp='pastell')

# Visualization

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# basic graph
1. Line plot
2. bar plot
3. pie chart
4. box plot
5. sactter plot
6. Histogram
7. Area plot
# Advanced Graphs seaborn
1. Catplot
2. JointPlot
3. Heatmap
4. Volinplot
5. CountPlot
6. pairplot
# interactive graphs
1. graph similar to matpolib but interactive

In [ ]:
df.plot?

In [ ]:
df.loc['China',year].plot(kind='line',figsize=(20,6) linewidth=5,
linestyle=':',color='orange')

SyntaxError: invalid syntax (239194812.py, line 1)

In [ ]:
country_list=['China','Japan','Malaysia','Philippines','Thailand'
,'Vietnam']
df.loc[country_list,years].T.plot(figsize=(20,6))

NameError: name 'years' is not defined

In [39]:
df.loc[country_list,years].T.plot(figsize=(20,10),subplots=True,
layout=(3,2),sharex=False)

NameError: name 'years' is not defined

In [ ]:
fig, ax =plt.subplots(figsize=(20,6),nrows=1, ncols=2)
df.loc['India',years].plot(ax=ax[0])
df.loc['India',years].plot(ax=ax[1],kind='hist')
ax[0].set_title("India immigration to canada",frontsize=20)
ax[1].set_title("India frequency of immigration",frontsize=20)

In [ ]:
df.loc['Argentina',years].plot(kind='bar',figsize=(20,6)
,color='darkblue')

In [ ]:
df.loc[country_list,years].t.plot(kind='bar',figsize=(20,6),stacked=True)

In [ ]:
plt.figure(facecolor='White')
continent_df['total']=continent_df.sum(axis=1)
continent_df['total'].plot(kind='pie',figsize=(20,6),autoct='%1.1f%'
radius=1.5,fontsize=12,wedgeprops={'width':0.75})
plt.ylabel('')
plt.savefig('continent_wise_imigration_pie_chart.png',dpi=300,
bbox_inches='tight')

In [ ]:
df.loc[country_list,year].T.plot(kind='box',figsize=(20,10),
logy=True,color='darkblue')

# plotly

In [ ]:
years = list(range(1980,2014))
india_data=df.loc['India',years]
px.line(india_data,x=india_data.index,y=india_data.values,markers=True)

In [ ]:
px.bar(india_data,x=india_data.index,y=india_data.values)

In [ ]:
countrydf=df.loc[]

In [ ]:
px.area(countrydf,x=countrydf.index,y=countrydf.columns)

# Visualization on map

# install these liberies
pip install opencv-contrib-python mediapipe pillow streamlit sqlalchemy

In [53]:
import folium

In [60]:
lko=folium.Map(location=[26.8467, 80.9462],zoom_start=14,height=400)
m1 = folium.Marker([26.8467, 80.9462],popup='Lucknow Center',tooltip='Click to see')
m1.add_to(lko)
lko

In [ ]:
lko.add_