In [4]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [7]:
filepath = 'laptop_data.csv'
if not os.path.exists(filepath):
    print('File not found')
else:
    df=pd.read_csv(filepath,index_col=0)
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 528 entries, 0 to 527
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   528 non-null    object
 1   price   528 non-null    object
 2   link    528 non-null    object
dtypes: object(3)
memory usage: 16.5+ KB
None

In [14]:
df[df['title'].duplicated()]

,title,price,link
27,MSI Core i9 12th Gen - (32 GB/2 TB SSD/Windows...,"₹3,90,990",/msi-core-i9-12th-gen-32-gb-2-tb-ssd-windows-1...
31,MSI Modern 14 Core i5 10th Gen - (8 GB/512 GB ...,"₹41,990",/msi-modern-14-core-i5-10th-gen-8-gb-512-gb-ss...
39,MSI Bravo 15 Ryzen 5 Hexa Core 5600H - (8 GB/5...,"₹49,990",/msi-bravo-15-ryzen-5-hexa-core-5600h-8-gb-512...
43,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,"₹59,990",/lenovo-ideapad-gaming-3-ryzen-5-hexa-core-560...
47,MSI Crosshair 15 Core i7 12th Gen - (16 GB/1 T...,"₹1,16,990",/msi-crosshair-15-core-i7-12th-gen-16-gb-1-tb-...
...,...,...,...
516,ASUS Vivobook Pro 15 OLED Ryzen 7 Octa Core 48...,"₹67,990",/asus-vivobook-pro-15-oled-ryzen-7-octa-core-4...
519,MSI Bravo 15 Ryzen 5 Hexa Core 5600H - (8 GB/5...,"₹49,990",/msi-bravo-15-ryzen-5-hexa-core-5600h-8-gb-512...
523,Lenovo Ideapad Gaming 3 Ryzen 5 Hexa Core 5600...,"₹59,990",/lenovo-ideapad-gaming-3-ryzen-5-hexa-core-560...
526,ASUS ROG Zephyrus G15 (2022) with 90Whr Batter...,"₹2,07,990",/asus-rog-zephyrus-g15-2022-90whr-battery-ryze...
527,MSI Crosshair 15 Core i7 12th Gen - (16 GB/1 T...,"₹1,16,990",/msi-crosshair-15-core-i7-12th-gen-16-gb-1-tb-...

In [15]:
# we have to clean price and make it numeric

### First let us understand what is a lambda fucntion


*In maths*

`f(x) = x*2`
`f(5) = 10`
`f(0.5) = 1`
`f(10) = 20`

*In Python*

`f= lambda x:x*2`
`f(5)`
`f(20)`

In [ ]:
f = lambda i:i*4
print(f(4))
g=

In [24]:
df['price_clean']=df['price'].apply(lambda val: int(val[1:].replace(',','')))

In [19]:
#[1:]

'3,90,990'

In [20]:
#'₹3,90,990'.replace(',','')

'₹390990'

In [25]:
df.sort_values(by='price_clean',ascending=False,inplace=True)

In [26]:
df.tail()

,title,price,link,price_clean
317,Infinix INBook X1 Neo Series Celeron Quad Core...,"₹22,990",/infinix-inbook-x1-neo-series-celeron-quad-cor...,22990
188,ASUS (2022) Celeron Dual Core - (4 GB/128 GB S...,"₹22,990",/asus-2022-celeron-dual-core-4-gb-128-gb-ssd-w...,22990
288,Lenovo IdeaPad 1 Celeron Dual Core - (4 GB/256...,"₹21,513",/lenovo-ideapad-1-celeron-dual-core-4-gb-256-g...,21513
485,Avita SATUS ULTIMUS S111 Celeron Dual Core - (...,"₹21,490",/avita-satus-ultimus-s111-celeron-dual-core-4-...,21490
78,Infinix INBook X1 Neo Series Celeron Quad Core...,"₹18,990",/infinix-inbook-x1-neo-series-celeron-quad-cor...,18990

In [ ]:
def clean_title(title):
    return title.split('-')[0].strip() , title,split('-')[1].strip()


df[['name','configuration']]= df['title'].apply(clean_title).apply(pd.Series)

# Output is returning titles

In [ ]:
def clean_title(title):
    return title.split()[0]

df['brand']=df['name'].apply(clean_title)