# List

# Defining list in python

In [6]:
# List in String
list1=["Nikhlesh","aman","Rahul"]

# List of numbers
list2=[1,2,3,4,5,6,7,8]

# Mixed data list
list3=['Ravi',90,98,7]

# Nested List
list4=[[1,2,3],[3,7,8],[7,5,9]]

# Accessing list items in Python

In [10]:
list1 = [2,4,6,'a',10,'b']
print('list1= ',list1)

print('list1[0]=',list1[0])

print('list1[-2]=',list[2])

print('list1[-1]=',list1[-1])

print('list1[-3]=',list1[-3])

list1=  [2, 4, 6, 'a', 10, 'b']
list1[0]= 2
list1[-2]= list[2]
list1[-1]= b
list1[-3]= a

# Getting a slice

In [12]:
l = [10,20,30,40,50,60,70,80,90,100] # slicing 3 to -3
slice1= l[3:-2]
print(slice1)

[40, 50, 60, 70, 80]

In [14]:
Movies = [
  "dhoom",
  "krish",
  "koi mil gaya",
  "harry potter",
  "chennai express",
]

In [18]:
Movies[:2]

['dhoom', 'krish']

In [20]:
Movies[2:-2]

['koi mil gaya']

# list has total 11 fn

# Append function
#  add at last

In [27]:
fruits = []
fruits.append("apple")
fruits.append("banana")
fruits.append("cherry")
fruits.append("guava")
fruits.append("mango")
fruits.append("dragon fruit")
fruits

['apple', 'banana', 'cherry', 'guava', 'mango', 'dragon fruit']

In [23]:
Movies.append('dhoom4')
print(Movies)

['dhoom', 'krish', 'koi mil gaya', 'harry potter', 'chennai express', 'dhoom4']

In [31]:
# insert Function
fruits.insert(0,"start")
fruits

['start',
 'apple',
 'banana',
 'cherry',
 'guava',
 'mango',
 'dragon fruit',
 'nightblood']

In [32]:
fruits.insert(100,'nightblood')

# Extended fn

In [ ]:
dryfruits=['almond','cashew','walnut']
fruits

In [33]:
# 4 sort function

fruits.sort()
fruits

['apple',
 'banana',
 'cherry',
 'dragon fruit',
 'guava',
 'mango',
 'nightblood',
 'nightblood',
 'start']

# sort fn

In [47]:
fruit2=['cherry','guvaa','banana']
fruit2.sort()
fruit2

['banana', 'cherry', 'guvaa']

In [38]:
fruit2.sort(reverse=True)
fruit2

['guvaa', 'cherry', 'banana']

# reverse fn

In [53]:
fruit2.reverse()
fruit2

['guvaa', 'cherry']

# remove fn

In [ ]:
fruit2.remove('banana')
fruit2

In [57]:
x=[1,2,2,2,2,3,3,3,1,1,1,-2]
x.sort()
print(x)

[-2, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3]

In [44]:
x.remove(4)if 4 in x else print('not found')
print(x)

not found
[-2, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3]

# count fn

In [58]:
x=[1,2,3,4,5,6,7,8,9,1,1,2,3,6,4,-6]
x.count(1)

3

# index function
gives a index of item in list

In [62]:
print(Movies)
Movies.index('harry potter')

['dhoom', 'krish', 'koi mil gaya', 'harry potter', 'chennai express', 'dhoom4']

3

In [64]:
Movies[Movies.index('krish'):]

['krish', 'koi mil gaya', 'harry potter', 'chennai express', 'dhoom4']

# copy fn

In [65]:
fruit2

['guvaa', 'cherry']

In [66]:
dup_fruit2=fruit2.copy()
print(dup_fruit2)

['guvaa', 'cherry']

clear fn

In [67]:
fruits

['start',
 'nightblood',
 'nightblood',
 'mango',
 'guava',
 'dragon fruit',
 'cherry',
 'banana',
 'apple']

In [68]:
fruits.clear()

In [69]:
fruits

[]

# pop fn

In [70]:
Movies

['dhoom', 'krish', 'koi mil gaya', 'harry potter', 'chennai express', 'dhoom4']

In [72]:
Movies.pop()   # by default it pop last items
Movies

['dhoom', 'krish', 'harry potter', 'chennai express']

In [73]:
Movies.pop(2)    # pop 2nd item
Movies

['dhoom', 'krish', 'chennai express']

# Questions
wap to create a list of 5 values given by user

In [74]:
ex = []
for i in range(5):
    val=input(f'enter value {i+1}')
    ex.append(val)
print(ex)

['banana', 'orange', 'cherry', 'kiwi', 'apple']

wap to display sum of a list

In [78]:
data = [23,58,78,12,4]
total = 0
for i in data:
    total +=i
    print(total)

23
81
159
171
175

wap to calculate mean, median, mode and standard