# Tuples And Set

In [1]:
a=(0,1,2,3,5,4,)
print(a)
print(type(a))

(0, 1, 2, 3, 5, 4)
<class 'tuple'>

In [2]:
b=1,2,3,4,5
print(b)
print(type(b))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
for val in a:
    print(val)

0
1
2
3
5
4

# Concatenation

In [4]:
print((1,2,2)+(4,5,6))

(1, 2, 2, 4, 5, 6)

In [5]:
print(('repeat',)*3)

('repeat', 'repeat', 'repeat')

In [6]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

In [7]:
al=list(a)
print(al)

[0, 1, 2, 3, 5, 4]

# convert list to tuple & vice versa

In [8]:
val=[2,3,56,289,21,23,4,7]
print(val)
valt=tuple(val)
print(valt)

[2, 3, 56, 289, 21, 23, 4, 7]
(2, 3, 56, 289, 21, 23, 4, 7)

# Set

In [9]:
s1={1,2,3,4,5,6,7,8,9,10,2,2}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [10]:
my_set=set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [11]:
my_set={1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [ ]:
my_set={1,2,[3,4]}

# create empty set

In [14]:
a=set()
print(type(a))

<class 'set'>

# Modifying a set

In [15]:
my_set={1,3}
print(my_set)

{1, 3}

In [16]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [17]:
my_set.update([2,3,4])
print(my_set)

{1, 2, 3, 4}

In [18]:
my_set.update([4,5],{1,6,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

# Rmoving items from set

In [19]:
my_set={1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [20]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [25]:
my_set.remove(5)
print(my_set)

KeyError: 5

In [22]:
my_set.pop()
print(my_set)

{3, 5}

In [23]:
my_set.clear()
print(my_set)

set()

# Set union

In [27]:
A={1,2,3,4,5}
B={4,5,6,7,8,9}
print(A|B)
A.union(B)
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [28]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [29]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

# Set Intersection

In [31]:
print(A&B)
A.intersection(B)

{4, 5}

{4, 5}

# Set Difference

In [32]:
print(A-B)

{1, 2, 3}

In [33]:
A.difference(B)
{1,2,3}

{1, 2, 3}


# Set Symmetric Difference

In [34]:
print(A^B)

{1, 2, 3, 6, 7, 8, 9}

In [35]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8, 9}

# creates 2 set of electric devices and perform set set operation on them

In [41]:
a={'fan','bulb','tubelight','heater','induction'}
b={'ac','cooler','bulb','tv','tablefan'}
print(a|b)

{'fan', 'bulb', 'cooler', 'heater', 'induction', 'tubelight', 'tv', 'ac', 'tablefan'}

In [43]:
print(a.symmetric_difference(b))

{'fan', 'induction', 'ac', 'cooler', 'heater', 'tubelight', 'tv', 'tablefan'}

In [39]:
print(a-b)

{'fan', 'bulb', 'induction', 'heater', 'tubelight'}

In [42]:
a.intersection(b)

{'bulb'}

In [44]:
print(a&b)

{'bulb'}

# Dictionary

In [47]:
my_dict={'name':'jack','age':'26'}
print(my_dict['name'])
print(my_dict['age'])

jack
26

In [48]:
print(my_dict.get('age'))

26

In [ ]:
print(my_dict['address'])

In [50]:
print(my_dict.get('address'))

None

# Modifying elements from dictionary

In [52]:
my_dict['age']=28
print(my_dict)

{'name': 'jack', 'age': 28}

In [53]:
# add items
my_dict['address']='muftiganj'
print(my_dict)

{'name': 'jack', 'age': 28, 'address': 'muftiganj'}

# Removing elements from dictionary

In [55]:
#pop and popitems
square={1:1,2:4,3:9,4:16,5:25}
print(square.pop(4))

16

In [57]:
print(square.popitem())
print(square)

(3, 9)
{1: 1, 2: 4}

# set tuple and list are interconvertible

In [58]:
print(s1)      # set to list
s1=list(s1)
print(s1)

st=tuple(s1)    # convert to list
print(st)

a=set([1,2,3,4,5,6,1,1,2,2])    # convert to tuple
print(a)

b=set((2,1,2,2,3,4,4,5))          # convert back to set
print(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [64]:
report = {
    'student 1': {
        'name':'Aun',
        'marks': {
            'maths': 95,
            'science': 90,
            'history':80,
            'english': 88,
            'EVS':96        }
    },
    'student 2': {
        'name':'Rayan',
        'marks': {
            'maths': 5,
            'science': 10,
            'history':30,
            'english': 20,
            'EVS':19        }
    }
}

In [60]:
report

{'student 1': {'name': 'Rayan',
  'marks': {'maths': 95,
   'science': 90,
   'history': 80,
   'english': 88,
   'EVS': 96}},
 'student 2': {'name': 'Aun',
  'marks': {'maths': 5,
   'science': 10,
   'history': 30,
   'english': 20,
   'EVS': 19}}}

In [61]:
print(report['student 1'])

{'name': 'Rayan', 'marks': {'maths': 95, 'science': 90, 'history': 80, 'english': 88, 'EVS': 96}}

# Viewing dictionary via loops

In [65]:
print(report['student 1']['name'])
print(report['student 1']['marks'])
print(report['student 1']['marks']['history'])

Aun
{'maths': 95, 'science': 90, 'history': 80, 'english': 88, 'EVS': 96}
80

In [66]:
# loop for dictionary
for k,v in report.items():
    print(k,v)

student 1 {'name': 'Aun', 'marks': {'maths': 95, 'science': 90, 'history': 80, 'english': 88, 'EVS': 96}}
student 2 {'name': 'Rayan', 'marks': {'maths': 5, 'science': 10, 'history': 30, 'english': 20, 'EVS': 19}}

In [67]:
# nested loop for dictionary
for k , v in report.items():
    print("student:", k )
    if isinstance(v,dict):
        for k1 , v1 in v.items():
            if isinstance(v1,dict):
                for sub,marks in v1.items():
                    print(sub,marks)
            else:
                print(v1)
    else:
        print(v)

student: student 1
Aun
maths 95
science 90
history 80
english 88
EVS 96
student: student 2
Rayan
maths 5
science 10
history 30
english 20
EVS 19

In [2]:
list.append?

Signature: list.append(self, object, /)
Docstring: Append object to the end of the list.
Type:      method_descriptor

In [3]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

def func_name([parameter]):
     statement1
     ...
     statement2